/* :root {
  --mainCol-dark: #0052DB;
  --mainCol-light: #6994DB;
  --secCol-light: #DBADC6;
  --tertCol-light: #dbb35ec6;
  --tertCol-dark: #c9a456c6;
  --quadCol-light: #b0e0ae;
  --font-grape: 'Grape Nuts', cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-grape);
  background-color: var(--mainCol-dark);
  color: var(--tertCol-light);
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: inherit;
} */